//-h2 About

.container
  header.page-header
    h2.header ANDREW ERRICO
    p.subheader Creative Front-End Developer
    hr

  section.page-content
    header
      h3 A Little About Me
    p Hiya! My name is Andrew, I am {{age}} years old, and I love to create beautiful things. I call myself a <a>Creative Front-End Developer</a> because I stand on the sweet spot of where design and code meet.

    p I studied Computer Art at community school 3D Animation and Visual Effects at Drexel University, but found a love for coding the web. I consider myself a Front-End Developer with a great eye for design. Many of my design focus on using minimal layouts that focus on the content without distracting the user. Design should tell a story and there should be no confusing points of that story!

    p When I'm not designing or coding you can probably find me out playing some ball. Basketball and
