h2 About

p Hiya! My name is Andrew and I love to create beautiful things.

p I studied Computer Art at community school 3D Animation and Visual Effects at Drexel University, but found a love for coding the web. I consider myself a Front-End Developer with a great eye for design. Many of my design focus on using minimal layouts that focus on the content without distracting the user. Design should tell a story and there should be no confusing points of that story!
