.container
  .page-header
    h2.header Process
    .subheader How I like to do work
    hr


  .step.discuss
    .icon.text-right
      i.icon-discuss.icon-5x
    .desc.text-left
      h3 Discuss
      p Discuss things, concepts, strategy, etc.

  .step.design
    .desc.text-right
      h3 Design
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .icon.text-left
      i.icon-design.icon-5x

  .step.approve
    .icon.text-right
      i.icon-approve.icon-5x
    .desc.text-left
      h3 Approval
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .step.develop
    .desc.text-right
      h3 Develop
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .icon.text-left
      i.icon-develop.icon-5x

  .step.coffee
    .icon.text-right
      i.icon-coffee.icon-5x
    .desc.text-left
      h3 Coffee Break
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .step.test-qa
    .desc.text-right
      h3 Test / QA
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .icon.text-left
      i.icon-test.icon-5x

  .step.deploy
    .icon.text-right
      i.icon-deploy.icon-5x
    .desc.text-left
      h3 Test / QA
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
