h2 Process

.row
  .col-xs-12.col-sm-4
    img.img-responsive(src="http://placehold.it/600x600")
    p.text-center One
  .col-xs-12.col-sm-4
    img.img-responsive(src="http://placehold.it/600x600")
    p.text-center One
  .col-xs-12.col-sm-4
    img.img-responsive(src="http://placehold.it/600x600")
    p.text-center One
