h2 Work
//-hr


.row
  .col-xs-12.col-sm-6
    .project
      img.img-responsive(src="http://placehold.it/2000x1500")
      .project-description-container
        .project-description
          h3 Marra's Bridal Boutique
          hr
          p Complete redesign for a small business owner. Designed, developed and deployed this mobile-first responsive website.
          .tags
            .tag Jade
            .tag SCSS
            .tag Responsive
  .col-xs-12.col-sm-6
    .project
      img.img-responsive(src="http://placehold.it/2000x1500")
      .project-description-container
        .project-description
          h3 #HappilyEverErrico
          hr
          p Personal wedding website based on the starter them underscores.
          .tags
            .tag Wordpress
            .tag SCSS
            .tag Responsive
  .col-xs-12.col-sm-6
    .project
      img.img-responsive(src="http://placehold.it/2000x1500")
      .project-description-container
        .project-description
          h3 Jura
          hr
//-.projects
  .project.is-active
    .project-header
      h3 Marra's Bridal Boutique
      .tags
        .tag Jade
        .tag SCSS
        .tag Responsive
    p Complete redesign for a small business owner. Designed, developed and deployed this mobile-first responsive website.
    img.img-responsive(src="http://placehold.it/2000x1500")
  .project
    .project-header
      h3 #HappilyEverErrico
      .tags
        .tag Wordpress
        .tag SCSS
        .tag Responsive
    img.img-responsive(src="http://placehold.it/2000x1500")
  .project
    .project-header
      h3 Coming Soon
    img.img-responsive(src="http://placehold.it/2000x1500")

  //-.project-control.next
    span &rarr;
  //-.project-control.previous
    span &larr;
