//* For the secondary navigation

.secondary-navigation
  nav
    .social-links
      a(href="#")
        i.fa.fa-twitter
      a(href="#")
        i.fa.fa-instagram
      a(href="#")
        i.fa.fa-facebook
      a(href="#") Work
      a(href="#") Contact
