h1 {
  background: red;
}



.menu {
  background: #3c3f50;
  height: 100%;
  left: 0;
  // padding: 30px;
  position: fixed;
  top: 0;
  -webkit-transition: visibility 750ms;
  transition: visibility 750ms;
  width: 100%;
  // visibility: hidden;
  overflow-y: auto;
}
.menu-content {}
.menu-title {}
.site-navigation {}

.menu-toggle {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
}
