.nav-toggle, header.site-header h2 {
  overflow: hidden;
  text-indent: 100%;
}

main, .nav-toggle .nav-icon:before, .nav-toggle .nav-icon:after, .nav .main-menu {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.container:before, .row:before, .container:after, .row:after {
  content: '';
  display: table;
}

.container:after, .row:after {
  clear: both;
}

/* Import all files for setup */
html, body,
ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Setup the base page paddings, margins, etc. */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

body {
  color: #f1f1f1;
  font-family: "Titillium";
}

main {
  background: #333333;
  position: relative;
  z-index: 2;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
          transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.nav-open main {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 990px) {
  .container {
    width: 720px;
  }
}

.page-header .header {
  margin-bottom: 0;
}

.page-header .subheader {
  color: #9f9f9f;
  font-size: 13.6px;
  font-size: 0.85rem;
  margin-top: 0;
  text-transform: uppercase;
}

.page-header hr {
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 60px;
}

/* Setup all typography */
::-moz-selection {
  color: #333333;
  background: #ffff79;
}
::selection {
  color: #333333;
  background: #ffff79;
}

p {
  color: #bebebe;
}

p > a {
  color: #fff;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.nav-toggle {
  background-color: #333333;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.21);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  height: 60px;
  position: fixed;
  right: 30px;
  top: 30px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  width: 60px;
  z-index: 5;
}

.nav-toggle .nav-icon {
  background-color: #ffffff;
  bottom: auto;
  height: 2px;
  left: 50%;
  position: absolute;
  right: auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  width: 30px;
}

.nav-toggle .nav-icon:before, .nav-toggle .nav-icon:after {
  content: '';
  background-color: inherit;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
}

.nav-toggle .nav-icon:before {
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.nav-toggle .nav-icon:after {
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.no-touchevents .nav-toggle:hover {
  background-color: #595959;
  -webkit-box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);
}

.no-touchevents .nav-toggle:hover .nav-icon:before {
  top: -2px;
}

.no-touchevents .nav-toggle:hover .nav-icon:after {
  top: 2px;
}

.nav-toggle:active,
.no-touchevents .nav-toggle:active {
  background-color: gray;
}

.nav-open .nav-toggle {
  background: #3c3f50;
}

.nav-open .nav-toggle:hover {
  background: #5d617c;
}

.nav-open .nav-toggle:active {
  background: #8388a2;
}

.nav-open .nav-toggle:hover .nav-icon:before,
.nav-open .nav-toggle:hover .nav-icon:after {
  top: 0;
}

.nav-open .nav-toggle .nav-icon {
  height: 3px;
  -webkit-transform: translateX(-50%) rotate(180deg) scale(0.75);
      -ms-transform: translateX(-50%) rotate(180deg) scale(0.75);
          transform: translateX(-50%) rotate(180deg) scale(0.75);
}

.nav-open .nav-toggle .nav-icon:before, .nav-open .nav-toggle .nav-icon:after {
  width: 50%;
}

.nav-open .nav-toggle .nav-icon:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-open .nav-toggle .nav-icon:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  background: #3c3f50;
  height: 100%;
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  -webkit-transition: visibility 750ms;
  transition: visibility 750ms;
  width: 100%;
  visibility: hidden;
  overflow-y: auto;
}

.nav .main-menu {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transform: translateY(-75%);
      -ms-transform: translateY(-75%);
          transform: translateY(-75%);
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  font-size: 28px;
  font-size: 1.75rem;
}

.nav .main-menu h2 {
  color: #ffff79;
  font-weight: 700;
  margin-bottom: 3em;
  position: relative;
  text-transform: uppercase;
  width: 300px;
  font-size: 28px;
  font-size: 1.75rem;
}

.nav .main-menu h2:after {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.nav .main-menu .primary-nav li {
  margin-top: 2em;
}

.nav .main-menu .primary-nav li:not(:last-child) {
  margin-bottom: 2em;
}

.nav .main-menu .primary-nav li a {
  display: inline-block;
  line-height: 1;
}

.nav .main-menu .primary-nav li a span {
  color: #9f9f9f;
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
}

.nav .main-menu .contact-info {
  margin: 6.5em 0 0;
}

.nav .main-menu .contact-info li {
  margin: 1em 0;
}

.nav .main-menu .contact-info li a {
  font-size: 28px;
  font-size: 1.75rem;
}

.nav .main-menu .primary-nav a,
.nav .main-menu .contact-info a {
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.no-touchevents .nav .main-menu .primary-nav a:hover, .no-touchevents
.nav .main-menu .contact-info a:hover {
  color: #ffff79;
}

.nav .main-menu .available {
  margin-top: 75px;
  text-align: center;
}

.nav .main-menu .available p {
  color: #ffffff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .nav .main-menu .available p {
    vertical-align: top;
  }
}

.nav .main-menu .available p i {
  color: #66ff88;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-open .nav {
  visibility: visible;
  -webkit-transition: visibility 0;
  transition: visibility 0;
}

.nav-open .nav .main-menu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.secondary-navigation a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.no-touchevents .secondary-navigation a:hover {
  color: #ffff79;
}

header.site-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 60px;
  min-height: 60px;
  margin-top: 30px;
  margin-right: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

header.site-header h1 {
  margin: 0;
}

header.site-header a {
  color: #aaa;
}

header.site-header a:not(:first-child) {
  margin-left: 15px;
}

header.site-header a i {
  margin-left: 10px;
}

header.site-header .social-links {
  display: none;
}

@media (min-width: 552px) {
  header.site-header .social-links {
    display: inline-block;
  }
}

.form .input {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.form .input:not(:last-child) {
  margin-bottom: 20px;
}

.form .input label {
  border: none;
}

.form .input input, .form .input textarea {
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.form .input input, .form .input textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 2px solid #ccc;
  margin-top: 5px;
  padding: 15px;
  width: 100%;
  resize: none;
  outline: none;
}

.form .input input:focus, .form .input textarea:focus {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
  background: #ccc;
}

.form .input textarea {
  min-height: 120px;
}

.form .submit {
  background: #66ff88;
  border: none;
  color: #333333;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 10px 30px;
}

.no-touchevents .form .submit:hover {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.page-process p, .page-process h3 {
  margin: 0;
}

.page-process .step {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-process .step .desc,
.page-process .step .icon {
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.page-process .step:not(:last-child) {
  margin-bottom: 90px;
}

.project {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.project .project-description-container {
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.project .project-description {
  top: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 15px;
}

.project .project-description h3 {
  margin-top: 0.5em;
}

.project .project-description hr {
  width: 60px;
  left: 0;
  margin-left: 0;
}

.project .project-description .tags {
  display: none;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

@media (min-width: 552px) {
  .project .project-description .tags {
    display: block;
  }
}

.project .project-description .tag {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 11.2px;
  font-size: 0.7rem;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.project .project-description .tag:not(:last-child) {
  margin-right: 5px;
}

.project .project-description-container, .project .project-description, .project img {
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.no-touchevents .project:hover .project-description-container {
  opacity: 1;
}

.no-touchevents .project:hover .project-description {
  top: 0;
}

.no-touchevents .project:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/*


.projects {
  position: relative;

  .project {
    //position: absolute;
    display: none;
    top: 0;
    transition: 300ms all ease-in-out;

    &.is-active {
      display: block;
    }
    .project-header {
      margin-bottom: $site-padding;
      h3 {
        margin-bottom: 0;
        margin: 0;
      }
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    p {
      @include font-size(0.85);
      color: #ccc;
    }

    .tags {
      font-size: 0.75em;
      .tag {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
        margin-right: 5px;
        display: inline-block;
        padding: 5px 15px;
        @media (min-width: 768px) {
          margin-left: 5px;
          margin-right: 0;
        }
      }
    }
  }
  .project-control {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #333;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .4);
    position: absolute;
    top: 50%;
    text-align: center;

    &.next {
      right: -90px;
    }
    &.previous {
      left: -90px;
    }

    span {
      @include font-size(2);
    }
  }
}


*/
.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@font-face {
  font-family: "andrewerrico";
  src: url("../fonts/andrewerrico.eot");
  src: url("../fonts/andrewerrico.eot?#iefix") format("embedded-opentype"), url("../fonts/andrewerrico.woff") format("woff"), url("../fonts/andrewerrico.ttf") format("truetype"), url("../fonts/andrewerrico.svg#andrewerrico") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*

[data-icon]:before {
  font-family: "andrewerrico" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "andrewerrico" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
[class*='icon-'] {
  display: inline-block;
  font: normal normal normal 14px/1 andrewerrico;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-lg {
  font-size: 1.33333333em;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-twitter:before {
  content: "\e000";
}

.icon-instagram:before {
  content: "\e001";
}

.icon-github:before {
  content: "\e002";
}

.icon-linkedin:before {
  content: "\e003";
}

.icon-envelope:before {
  content: "\e004";
}

.icon-check:before {
  content: "\e005";
}

.icon-discuss:before {
  content: "\e006";
}

.icon-design:before {
  content: "\e007";
}

.icon-approve:before {
  content: "\e008";
}

.icon-coffee:before {
  content: "\e009";
}

.icon-develop:before {
  content: "\e00a";
}

.icon-test:before {
  content: "\e00b";
}

.icon-deploy:before {
  content: "\e00c";
}
